<section id="contact">
  <div class="container contact-container">
    <div>
      <h2 class="muller-extra-bold contact-title text-primary">
        Хватит думать!<br /> <span class="text-secondary">Доставим заказ за 30 минут!</span>
      </h2>
      <p class="contact-description text-secondary">
        Мы гарантированно доставим вашу пиццу за 30 минут с момента оформления заказа. Если мы опоздаем даже на 1 минуту
        - вы
        получаете весь заказ бесплатно и ваучер на скидку на следующий заказ. Мы гордимся нашим сервисом и сделаем всё,
        чтобы
        наш клиент был доволен и не остался голодный!
      </p>
    </div>
    <div class="contact-form">
      <app-contact-form></app-contact-form>
    </div>
    <div>
      <img src="../../../assets/images/pizzzzza.png" class="contact-image" alt="">
    </div>
  </div>
</section>