<section>
  <div class="container flex-row flex-cross-center hero flex-main-between">
    <div class="flex-column">
      <h1 class="muller-extra-bold text-secondary hero-title">
        Самая вкусная пицца в мире <br />
        <span class="text-primary">только в Pizza Cheff</span>
      </h1>
      <div class="feature-list">
        <div class="flex-row feature-row">
          <div class="flex-row feature-item">
            <img class="feature-icon" src="../../../assets/images/features/hop.png" alt="">
            <div>
              <h4 class="muller-extra-bold feature-title">Лучшее тесто</h4>
              <p class="feature-description text-secondary">Мы создаем тесто только из
                отборной итальянской муки
                наивысшего качества</p>
            </div>
          </div>
          <div class="flex-row feature-item">
            <img class="feature-icon" src="../../../assets/images/features/kitchen-pack.png" alt="">
            <div>
              <h4 class="muller-extra-bold feature-title">лучшие повара</h4>
              <p class="feature-description text-secondary">Пиццы готовят самые
                профессиональные
                итальянские повара</p>
            </div>
          </div>
        </div>
        <div class="flex-row feature-row">
          <div class="flex-row feature-item">
            <img class="feature-icon" src="../../../assets/images/features/seo-and-web.png" alt="">
            <div>
              <h4 class="muller-extra-bold feature-title">гарантия качества</h4>
              <p class="feature-description text-secondary">Мы создаем тесто только из
                отборной итальянской муки
                наивысшего качества</p>
            </div>
          </div>
          <div class="flex-row feature-item">
            <img class="feature-icon" src="../../../assets/images/features/holidays.png" alt="">
            <div>
              <h4 class="muller-extra-bold feature-title">Лучшее тесто</h4>
              <p class="feature-description text-secondary">Мы создаем тесто только из
                отборной итальянской муки
                наивысшего качества</p>
            </div>
          </div>
        </div>
      </div>
      <button class="feature-button muller-regular">
        Выбрать пиццу
      </button>
    </div>
    <div class="hero-pizza-image-wrapper">
      <img src="../../../assets/images/pizza_big.png" class="hero-pizza-image" alt="Big pizza">
    </div>
  </div>
</section>