h1 {
  font-size: 45px;
  line-height: 55px;
}

h2 {
  font-size: 35px;
  line-height: 55px;
}

h4 {
  font-size: 16px;
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-success {
  color: var(--success-color);
}

.text-warning {
  color: var(--warning-color);
}

.text-info {
  color: var(--info-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-black {
  color: var(--black-color);
}

.text-brown {
  color: var(--brown-color);
}

.text-base {
  font-size: 16px;
  line-height: 20px;
}

.text-xs {
  font-size: 14px;
  line-height: 18px;
}

.text-md {
  font-size: 18px;
  line-height: 24px;
}

/* Убрать подчеркивание текста */
.text-no-decoration {
  text-decoration: none;
}

/* Подчеркнуть текст */
.text-underline {
  text-decoration: underline;
}

/* Линия через текст (зачеркнутый текст) */
.text-line-through {
  text-decoration: line-through;
}

.text-center {
  text-align: center;
}